@import '../styles/variables.scss';

.page-wrapper {
  display: flex;
  flex-direction: column;

  min-width: $width-desktop;
  width: 100vw;
  max-width: $width-max-desktop;
  min-height: 100vh;

  margin: 0 auto;
  font-family: 'AG Helvetica';
  font-style: normal;

}

@media(max-width: $width-desktop) {
  .page-wrapper {
    min-width: $width-min-tablet;
  }
}
