@import '../styles/variables.scss';

.page-wrapper {
  width: 100vw;
  min-width: $width-desktop;
  max-width: $width-max-desktop;
  margin: 0 auto;

  padding-top: 20px;

  font-family: 'AG Helvetica';
  font-style: normal;

}
