@import '../../../styles/variables.scss';

.cart-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

.cart-list__item {
  margin-bottom: 20px;
  padding-top: 14px;
  box-shadow: inset 0 1.5px 0 0 #000000;
}

.cart-list__wrapper-header {
  display: block;
  min-width: 80px;
  width: 40%;
  
  margin-right: 40px;

  & h3 {
    margin-bottom: 4px;
    @include font(700, 14px, 14px);
  }

  & p {
    @include font(400, 12px, 12px);
    text-transform: uppercase;
  }

  &--counter {
    display: flex;
    align-items: baseline;

    width: 140px;
  }
}

.cart-list__wrapper-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 16px;

  & input {
    width: 40px;
    margin-bottom: 4px;
    padding: 4px 4px 4px 14px;
  }

  & button {
    @include font(400, 10px, 10px);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.cart-list__header-total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;

  @include font(700, 18px, 18px);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.cart-list__image-section {
  display: flex;
  justify-content: space-between;
  padding: 14px 12px 0 12px;
  box-shadow: inset 0 1px 0 0 lighten($gray-underline, 20%);
}

.cart-list__wrapper-image {
  display: flex;
  align-items: center;
}

.cart-list__image {
  width: 160px;
  margin-right: 12px;
}

.cart-list__image-ship {
  @include font(400, 12px, 12px);
}

.cart-list__wrapper-remove {
  width: 18%;
  padding: 12px 20px 12px 20px;

  text-align: center;
  box-shadow: inset 1px 0 0 0 lighten($gray-underline, 20%);
}

.cart-list__remove-button {
  position: relative;

  padding-top: 40px;
  background-color: transparent;

  @include font(400, 10px, 10px);
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    
    transform: rotate(45deg);

    border: solid #000000;
    border-width: 2px 0 0 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 20px;
    bottom: 0;
    width: 20px;
    height: 20px;

    transform: rotate(-45deg);

    border: solid #000000;
    border-width: 2px 0 0 0;
  }
}