@import '../../../styles/variables.scss';

.cart-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-list__item {
  margin-bottom: 10px;
  padding-top: 14px;
  box-shadow: inset 0 1.5px 0 0 #000000;
}

.cart-list__wrapper-header {
  display: block;

  &--counter {
    display: flex;
  }
}

.cart-list__wrapper-counter {
  display: flex;
  flex-direction: column;
}

.cart-list__image-section {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  box-shadow: inset 0 1px 0 0 lighten($gray-underline, 20%);
}

.cart-list__wrapper-image {
  display: flex;
}

.cart-list__image {
  width: 150px;
}

.cart-list__wrapper-remove {
  outline: 2px solid khaki;
  width: 80px;
}

.cart-list__remove-button {

  outline: 2px solid coral;
  position: relative;
  padding-top: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 14px;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    
    transform: rotate(45deg);

    border: solid #000000;
    border-width: 2px 0 0 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 26px;
    bottom: 0;
    width: 20px;
    height: 20px;

    transform: rotate(-45deg);

    border: solid #000000;
    border-width: 2px 0 0 0;
  }
}