.cart{
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.cart__wrapper {
  flex-grow: 1;
  margin-right: 24px;
}

.cart__heading {
  margin-bottom: 40px;
  @include font(400, 26px, 34px);
}
