.navigation {
  padding: 0 60px 18px 60px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__item a {
  @include font(700, 15px, 15px);
}

@media(max-width: $width-desktop) {
  .navigation__item a {
    @include font(700, 13px, 13px);
  }
}
