.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list__heading-small {
  width: 30vw;
  max-width: 380px;
  min-width: 320px;
  margin: 0;
  margin-bottom: 8px;
  
  @include font(700, 24px, 30px);
}

.advantages-list__text {
  width: 40vw;
  max-width: 420px;
  min-width: 350px;
  margin: 0;
  margin-bottom: 50px;

  @include font(400, 14px, 18px);
}
