@font-face {
  font-family: "AG Helvetica";
  src: local("AGHelvetica_bold"),
    url("../fonts/AGHelvetica_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AG Helvetica";
  src: local("AGHelvetica_regular"),
    url("../fonts/AGHelvetica_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
