@import '../styles/mixins.scss';

.home-page {
  display: flex;
}

.home-page__wrapper {
  padding-top: 60px;
}

.home-page__promo-image {
  display: block;
  width: 50vw;
  margin-right: 40px;
}

.home-page__heading-main {
  margin: 0;

  @include font(700, 50px, 50px);
}

.home-page__text {
  margin: 0;
  margin-bottom: 60px;

  @include font(400, 14px, 18px);
}
