.page-header {
  width: 100%;
  border-bottom: 3px solid #000000;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;
}

.page-header__cart-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
}

.page-header__logo-image {
  width: 200px;
  margin-bottom: 20px;
}

.page-header__cart-link {
  display: block;
  width: 30px;
  height: 30px;
}