.search-form {
  position: relative;
  min-width: 170px;
  width: 27%;
  max-width: 250px;

  margin-right: 16%;
}

.search-form__input {
  width: 100%;
  padding: 4px 10px;

  @include font(400, 14px, 14px);
  color: #000000;
  box-shadow: 0 0 0 1px lighten(#000000, 50%);
  border: none;

  &::placeholder {
    @include font(400, 12px, 12px);
  }

  &:focus {
    outline: 1px solid lighten(#000000, 50%);
    outline-offset: -2px;
  }
}
